<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @folder.name %>
</p>


<%= link_to 'Add Folder here ...', new_folder_folder_path(:folder_id => @folder.id) %> |
<%= link_to 'Edit', edit_folder_path(@folder) %> |
<%= link_to 'Back', folders_path %>
